#filemanager {
  .fa {
    color: @blue;
  }

  .fa-times {
    color: #ff4a52 !important;
  }

  .fa-pencil-alt {
    color: #555555 !important;
  }

  .file_type {
    p {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .row {
    margin: 5px -15px;

    &:first-of-type {
      margin: 0 -15px;
    }
  }

  .fas {
    color: @black;
    margin: 0 2px;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }
  }
}