/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url('../fonts/montserrat-v12-latin-100.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-100.woff') format('woff');
}
/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url('../fonts/montserrat-v12-latin-200.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-200.woff') format('woff');
}
/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/montserrat-v12-latin-300.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-300.woff') format('woff');
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-regular.woff') format('woff');
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url('../fonts/montserrat-v12-latin-500.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-500.woff') format('woff');
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../fonts/montserrat-v12-latin-600.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-600.woff') format('woff');
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-700.woff') format('woff');
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url('../fonts/montserrat-v12-latin-900.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-900.woff') format('woff');
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url('../fonts/montserrat-v12-latin-800.woff2') format('woff2'), url('../fonts/montserrat-v12-latin-800.woff') format('woff');
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #user_settings {
    display: none;
  }
  #mobile_menu_button {
    display: block !important;
  }
  #mobile_menu_button i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    border-radius: 8px;
    color: #3A3A3A;
    font-size: 20px;
    position: fixed;
    top: 35px;
    right: 35px;
    background: linear-gradient(45deg, #e1f7fc, #c2e2fc);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    z-index: 5;
  }
  #main_sidebar {
    width: 100% !important;
    transform: translateX(-100%);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 9999;
  }
  #main_sidebar:before {
    background: linear-gradient(45deg, #e1f7fc, #c2e2fc) !important;
    opacity: 1 !important;
  }
  #main_sidebar.visible {
    transform: translateX(0%);
  }
  #main_sidebar #close_sidebar {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    border-radius: 8px;
    color: #3A3A3A;
    font-size: 20px;
    position: fixed;
    top: 35px;
    right: 35px;
    background: #ceeafc;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    z-index: 5;
    display: block !important;
  }
  #main_sidebar .content {
    padding: 45px !important;
  }
  #main_sidebar #logo {
    width: 45px !important;
    height: 45px !important;
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 !important;
  }
  #main_sidebar #sidebar_title {
    display: inline-block;
    margin: 0 0 0 15px !important;
    vertical-align: middle;
    font-size: 22px;
  }
  #main_sidebar ul {
    margin-top: 35px !important;
  }
  #main_sidebar ul li {
    margin: 0 0 15px 0 !important;
  }
  #main_sidebar object {
    height: 20px;
  }
  #main_sidebar #logout {
    padding: 10px 15px;
    bottom: 35px !important;
  }
  #main_sidebar #logout:after {
    display: none;
  }
  main {
    width: 100% !important;
    position: relative;
    padding: 35px !important;
  }
  .flex .row {
    display: block !important;
    margin: 0 !important;
  }
  .flex .row .con {
    margin: 20px 0 !important;
  }
  h1 {
    word-wrap: break-word;
  }
  /* --- Services --- */
  #service_management .con {
    display: none;
  }
  #service_management .con:nth-child(-n+2) {
    display: inline-block;
  }
  #service_management a {
    display: table;
    margin-bottom: 10px;
  }
  #service_management a:last-of-type {
    margin-bottom: 0;
  }
  #service_management br {
    display: none;
  }
  #service_management .conSmall,
  #service_management .con3 {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  #service_management #status_bubble {
    width: 26px !important;
    height: 26px !important;
    margin-right: 10px;
  }
  #service_management h3 {
    font-size: 17px;
  }
  /* --- Modals --- */
  .modal .content {
    width: 90% !important;
    max-height: 90%;
    overflow-y: auto;
  }
  .modal .content br {
    display: none;
  }
  .modal .content .btn {
    margin-bottom: 15px;
  }
  .modal .content .btn:last-child {
    margin-bottom: 0;
  }
  .modal .content .modal_closer {
    top: 15px;
    right: 15px;
  }
  .modal .content #console_window {
    height: 230px;
  }
  /* --- User management --- */
  #user_list {
    overflow: scroll;
  }
  #user_list table {
    width: 1000px !important;
  }
  /* --- Filemanager --- */
  #filelist {
    overflow: scroll;
  }
  #filelist table {
    width: 600px !important;
  }
  /* --- Todo List --- */
  #todo_list_table {
    overflow: scroll;
  }
  #todo_list_table table {
    width: 600px !important;
  }
  /* --- WYSIWYG Editor --- */
  .html_editor .top_bar {
    display: flex;
    overflow-x: scroll;
  }
  .html_editor .top_bar object {
    margin: 0 !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #user_settings {
    display: none;
  }
  #mobile_menu_button {
    display: block !important;
  }
  #mobile_menu_button i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    border-radius: 8px;
    color: #3A3A3A;
    font-size: 20px;
    position: fixed;
    top: 35px;
    right: 35px;
    background: linear-gradient(45deg, #e1f7fc, #c2e2fc);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    z-index: 5;
  }
  #main_sidebar {
    width: 60% !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) !important;
    transform: translateX(-100%);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 9999;
  }
  #main_sidebar:before {
    background: linear-gradient(45deg, #e1f7fc, #c2e2fc) !important;
    opacity: 1 !important;
  }
  #main_sidebar.visible {
    transform: translateX(0%);
  }
  #main_sidebar #close_sidebar {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    border-radius: 8px;
    color: #3A3A3A;
    font-size: 20px;
    position: fixed;
    top: 35px;
    right: 35px;
    background: #ceeafc;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    z-index: 5;
    display: block !important;
  }
  #main_sidebar .content {
    padding: 45px !important;
  }
  #main_sidebar #logo {
    width: 45px !important;
    height: 45px !important;
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 !important;
  }
  #main_sidebar #sidebar_title {
    display: inline-block;
    margin: 0 0 0 15px !important;
    vertical-align: middle;
    font-size: 22px;
  }
  #main_sidebar ul {
    margin-top: 35px !important;
  }
  #main_sidebar ul li {
    margin: 0 0 15px 0 !important;
  }
  #main_sidebar object {
    height: 20px;
  }
  #main_sidebar #logout {
    padding: 10px 15px;
    bottom: 35px !important;
  }
  #main_sidebar #logout:after {
    display: none;
  }
  main {
    width: 100% !important;
    position: relative;
    padding: 35px !important;
  }
  .flex .row {
    display: block !important;
    margin: 0 !important;
  }
  .flex .row .con {
    width: calc(50% - 20px) !important;
    display: inline-block !important;
    margin: 0 0 25px 0 !important;
    vertical-align: top;
  }
  /* --- Service management --- */
  #service_management #service_actions .btn {
    margin-bottom: 5px;
  }
  /* --- Modals --- */
  .modal .content {
    width: 90% !important;
    max-height: 90%;
    overflow-y: auto;
  }
  .modal .content br {
    display: none;
  }
  .modal .content .btn {
    margin-bottom: 15px;
  }
  .modal .content .btn:last-child {
    margin-bottom: 0;
  }
  .modal .content .modal_closer {
    top: 15px;
    right: 15px;
  }
  .modal .content #console_window {
    height: 230px;
  }
  /* --- User management --- */
  #user_list {
    overflow: scroll;
  }
  #user_list table {
    width: 1000px !important;
  }
  /* --- WYSIWYG Editor --- */
  .html_editor .top_bar {
    display: flex;
    overflow-x: scroll;
  }
  .html_editor .top_bar object {
    margin: 0 !important;
  }
  /* --- Profile --- */
  #profile_main {
    /* --- Todo List --- */
  }
  #profile_main.flex .row {
    display: block !important;
    margin: 0 !important;
  }
  #profile_main.flex .row .con {
    margin: 20px 0 !important;
    width: 100% !important;
  }
  #profile_main #todo_list_table {
    overflow: scroll;
  }
  #profile_main #todo_list_table table {
    width: 700px !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  main {
    width: 100% !important;
    position: relative;
    padding: 35px !important;
  }
  #mobile_menu_button {
    display: block !important;
  }
  #mobile_menu_button i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    border-radius: 8px;
    color: #3A3A3A;
    font-size: 20px;
    position: fixed;
    top: 35px;
    right: 35px;
    background: linear-gradient(45deg, #e1f7fc, #c2e2fc);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    z-index: 5;
  }
  #main_sidebar {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) !important;
    transform: translateX(-100%);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 9999;
  }
  #main_sidebar:before {
    background: linear-gradient(45deg, #e1f7fc, #c2e2fc) !important;
    opacity: 1 !important;
  }
  #main_sidebar.visible {
    transform: translateX(0%);
  }
  #main_sidebar #close_sidebar {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    border-radius: 8px;
    color: #3A3A3A;
    font-size: 20px;
    position: fixed;
    top: 35px;
    right: 35px;
    background: #ceeafc;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    z-index: 5;
    display: block !important;
  }
  #main_sidebar .content {
    padding: 45px !important;
  }
  #main_sidebar #logo {
    width: 45px !important;
    height: 45px !important;
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 !important;
  }
  #main_sidebar #sidebar_title {
    display: inline-block;
    margin: 0 0 0 15px !important;
    vertical-align: middle;
    font-size: 22px;
  }
  #main_sidebar ul {
    margin-top: 35px !important;
  }
  #main_sidebar ul li {
    margin: 0 0 15px 0 !important;
  }
  #main_sidebar object {
    height: 20px;
  }
  #main_sidebar #logout {
    padding: 10px 15px;
    bottom: 35px !important;
  }
  #main_sidebar #logout:after {
    display: none;
  }
  /* --- Service management --- */
  #service_management #service_actions .btn {
    margin-bottom: 5px;
  }
  /* --- User management --- */
  #user_list {
    overflow: scroll;
  }
  #user_list table {
    min-width: 100% !important;
  }
  /* --- Modals --- */
  .modal .content {
    width: 90% !important;
    max-height: 90%;
    overflow-y: auto;
  }
  .modal .content .btn {
    margin-bottom: 15px;
  }
  .modal .content .btn:last-child {
    margin-bottom: 0;
  }
  .modal .content .modal_closer {
    top: 15px;
    right: 15px;
  }
  .modal .content #console_window {
    height: 230px;
  }
  /* --- Ticket list --- */
  #ticket_list .content {
    vertical-align: top !important;
  }
  #ticket_list .btn {
    vertical-align: top !important;
  }
  /* --- Todo List --- */
  #todo_list_table {
    overflow-x: scroll;
  }
  #todo_list_table table {
    width: 600px !important;
  }
}
/* Colors */
/* Gradients */
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  color: #3A3A3A;
  font-weight: 500;
  display: table;
}
h1.dimmed,
h2.dimmed,
h3.dimmed,
h4.dimmed,
h5.dimmed,
h6.dimmed {
  opacity: .3;
}
h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white {
  color: white;
}
/* Buttons */
.btn {
  color: white;
  padding: 10px 11px 10px 25px;
  -webkit-padding-end: 2px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: inline-block;
  margin-right: 5px;
}
.btn.extrasmall {
  font-size: 10px;
  padding: 6px 7px 7px 21px;
}
.btn.extrasmall:hover {
  padding-right: 16px;
}
.btn.small {
  font-size: 12px;
  padding: 8px 9px 8px 22px;
  -webkit-padding-end: 2px;
}
.btn:last-of-type {
  margin-right: 0;
}
.btn.action {
  position: relative;
}
.btn.action.important:after {
  content: '!';
  font-weight: bold;
}
.btn.action.done:after {
  content: '✔';
}
.btn.action:after {
  border-radius: 100px;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 13px;
  position: absolute;
  display: block !important;
  opacity: 1;
  top: -8px;
  right: -8px;
  z-index: 2;
  font-size: 9px;
  background: white;
}
.btn:hover {
  padding-right: 20px;
}
.btn:hover:after {
  opacity: 1;
}
.btn:active {
  filter: brightness(0.8);
}
.btn:after {
  display: inline;
  color: white;
  content: '→';
  margin-left: 5px;
  font-size: 16px;
  opacity: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.btn.red {
  background: #FF82A0;
  box-shadow: 0 3px 10px rgba(255, 130, 160, 0.8);
}
.btn.red.action:after {
  color: #FF82A0;
  border: 2px #FF82A0 solid;
}
.btn.blue {
  background: #60A7FC;
  box-shadow: 0 3px 10px rgba(96, 167, 252, 0.6);
}
.btn.blue.action:after {
  color: #60A7FC;
  border: 2px #60A7FC solid;
}
.btn.yellow {
  background: #FFC182;
  box-shadow: 0 3px 10px rgba(255, 193, 130, 0.6);
}
.btn.yellow.action:after {
  color: #FFC182;
  border: 2px #FFC182 solid;
}
.btn.green {
  background: #7BED9F;
  box-shadow: 0 3px 10px rgba(123, 237, 159, 0.6);
}
.btn.green.action:after {
  color: #7BED9F;
  border: 2px #7BED9F solid;
}
.btn.round {
  border-radius: 100px;
}
/* Flex */
.flex .row {
  display: flex;
  margin: 20px -15px;
}
.flex .row:first-of-type {
  margin-top: 0 !important;
}
.flex .row:last-of-type {
  margin-bottom: 0 !important;
}
.flex .row .con {
  margin: 0 15px;
}
.flex .row .con.align_right {
  text-align: right;
}
.flex .row .con.vert_middle {
  align-self: center;
}
.flex .row .con.small {
  flex: .5;
}
.flex .row .con.con1 {
  flex: 1;
}
.flex .row .con.con2 {
  flex: 2;
}
.flex .row .con.con3 {
  flex: 3;
}
.flex .row .con.con4 {
  flex: 4;
}
.flex .row .con.con5 {
  flex: 5;
}
.flex .row .con.con6 {
  flex: 6;
}
.flex .row .con.con7 {
  flex: 7;
}
.flex .row .con.con8 {
  flex: 8;
}
.flex .row .con.con9 {
  flex: 9;
}
.flex .row .con.con10 {
  flex: 10;
}
/* Text */
p {
  margin: 7px 0;
  font-size: 14px;
  color: #3A3A3A;
  opacity: .6;
  line-height: 22px;
}
p.small {
  font-size: 12px;
}
p.bold {
  font-weight: 500;
}
p:first-of-type {
  margin-top: 0;
}
p:last-of-type {
  margin-bottom: 0;
}
/* Modal */
.modal {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -5;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.modal .modal_closer {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  border-radius: 100px;
  background: white;
  border: 2px #FF82A0 solid;
  color: #FF82A0;
  font-size: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal.visible {
  opacity: 1;
  z-index: 10;
}
.modal .content {
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  padding: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: absolute;
}
.modal .content.small {
  width: 480px;
}
.modal .content.medium {
  width: 640px;
}
.modal .content.large {
  width: 960px;
}
.modal .content h2 {
  line-height: 30px;
}
.modal .content.visible {
  opacity: 1;
  top: 50%;
}
/* Form */
form input,
form select,
form textarea {
  border: 0;
  width: 100%;
  padding: 10px 0;
  font-family: 'Roboto', 'Montserrat', 'Arial', 'sans-serif';
  color: #555555;
  outline: none;
  background: transparent;
  font-size: 14px;
}
form input[type=checkbox],
form select[type=checkbox],
form textarea[type=checkbox],
form input[type=radio],
form select[type=radio],
form textarea[type=radio] {
  display: none;
}
form input[type=checkbox]:checked ~ label.slider > .slider,
form select[type=checkbox]:checked ~ label.slider > .slider,
form textarea[type=checkbox]:checked ~ label.slider > .slider {
  right: 62px;
}
form input[type=checkbox]:checked ~ label.slider:before,
form select[type=checkbox]:checked ~ label.slider:before,
form textarea[type=checkbox]:checked ~ label.slider:before {
  background: #60A7FC;
  box-shadow: 0 3px 10px rgba(96, 167, 252, 0.6);
}
form input[type=checkbox]:checked ~ label.slider:after,
form select[type=checkbox]:checked ~ label.slider:after,
form textarea[type=checkbox]:checked ~ label.slider:after {
  left: 26px;
}
form input[type=checkbox]:checked ~ label.slider.with_text:after,
form select[type=checkbox]:checked ~ label.slider.with_text:after,
form textarea[type=checkbox]:checked ~ label.slider.with_text:after {
  left: 24px;
}
form input[type=radio]:checked + label.radio:before,
form select[type=radio]:checked + label.radio:before,
form textarea[type=radio]:checked + label.radio:before {
  border-color: #60A7FC;
  background: #60A7FC;
  box-shadow: 0 3px 10px rgba(96, 167, 252, 0.6);
}
form input[type=radio]:checked + label.radio:after,
form select[type=radio]:checked + label.radio:after,
form textarea[type=radio]:checked + label.radio:after {
  opacity: 1;
}
form input:focus + span:after,
form select:focus + span:after,
form textarea:focus + span:after {
  transform: scaleX(1);
}
form textarea {
  resize: vertical;
}
form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../images/line_icons/arrow_down.svg) no-repeat right center;
  background-size: 10px;
}
form label {
  color: #9c9c9c;
  font-size: 13px;
  position: relative;
}
form label.radio {
  cursor: pointer;
  display: block;
  margin-bottom: 9px;
}
form label.radio:last-of-type {
  margin-bottom: 0;
}
form label.radio:before {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  vertical-align: middle;
  content: '';
  margin-right: 8px;
  margin-top: -3px;
  border: 2px #b4b4b4 solid;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 1 !important;
}
form label.radio:after {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: white;
  position: absolute;
  left: 5px;
  top: 5px;
  content: '';
  opacity: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 100px;
}
form label.slider {
  opacity: 1;
  font-weight: 500;
  cursor: pointer;
}
form label.slider.with_text p {
  color: #3A3A3A;
  font-size: 14px;
  position: relative;
  top: -4px;
  margin-left: 15px;
  display: inline;
}
form label.slider.with_text:before {
  width: 40px;
  height: 18px;
}
form label.slider.with_text:after {
  height: 14px;
  top: -3px;
  width: 14px;
}
form label.slider:before {
  width: 48px;
  height: 24px;
  background: #ddd;
  display: inline-block;
  content: '';
  border-radius: 100px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
form label.slider:after {
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 100px;
  content: '';
  display: inline-block;
  position: absolute;
  left: 2px;
  top: -9px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
form span {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.05);
  display: block;
}
form span:after {
  display: block;
  content: '';
  width: 100%;
  background: #60A7FC;
  height: 2px;
  transform: scaleX(0);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-top: 2px;
}
form button {
  font-family: 'Montserrat';
  border: none;
  margin-top: 15px;
}
.execution_action {
  background: white;
  padding: 15px;
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  z-index: -5;
  border-radius: 8px;
  width: 255px;
  opacity: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.execution_action .error_support {
  opacity: 0;
  margin-top: -25px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.execution_action.success,
.execution_action.failed {
  width: 190px;
}
.execution_action.success img,
.execution_action.failed img {
  opacity: 0;
}
.execution_action.success .content,
.execution_action.failed .content {
  padding-left: 0;
}
.execution_action.success {
  background: #7BED9F;
}
.execution_action.success * {
  color: white !important;
}
.execution_action.failed {
  background: #FF82A0;
}
.execution_action.failed * {
  color: white !important;
}
.execution_action.failed .error_support {
  opacity: 1;
  margin-top: 0;
}
.execution_action.visible {
  top: 64px;
  z-index: 5;
  opacity: 1;
}
.execution_action h4 {
  margin-bottom: 5px;
}
.execution_action img {
  width: 32px;
  height: 32px;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.execution_action .content {
  display: inline-block;
  padding-left: 50px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.margin.bottom.px15 {
  margin-bottom: 15px;
}
/* WYSIWYG */
.html_editor .top_bar {
  background: #60A7FC;
  border-radius: 5px;
  margin: 0 auto -25px auto;
  position: relative;
  z-index: 2;
  width: 95%;
}
.html_editor .top_bar object {
  height: 16px;
  width: 16px;
  padding: 10px;
  margin: 0 -4px -5px 0;
}
.html_editor .top_bar object:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.html_editor .top_bar object:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.html_editor .top_bar object:hover {
  background: rgba(0, 0, 0, 0.1);
}
.html_editor textarea {
  resize: none;
  height: 225px;
  border-radius: 8px;
  border: 1px #ddd solid;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  padding: 35px 15px 15px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'arial', 'sans-serif';
}
body:before {
  display: block;
  position: fixed;
  content: '';
  background: linear-gradient(to bottom, #60CCFC, #60A7FC);
  width: 100%;
  height: 100%;
  opacity: .11;
  z-index: -1;
  top: 0;
}
main {
  width: calc(100% - 330px);
  padding: 72px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0;
}
.subheading {
  margin-bottom: 25px;
}
.subheading.child {
  margin-top: 55px;
}
a {
  color: inherit;
  text-decoration: none;
}
#mobile_menu_button,
#close_sidebar {
  display: none;
}
/* Sidebar */
#main_sidebar {
  position: fixed;
  width: 320px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
#main_sidebar:before {
  display: block;
  position: absolute;
  content: '';
  background: linear-gradient(to bottom, #60CCFC, #60A7FC);
  width: 100%;
  height: 100%;
  opacity: .15;
  z-index: -1;
}
#main_sidebar .content {
  padding: 65px 55px 55px 55px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#main_sidebar .content #logo {
  width: 72px;
  height: 72px;
  margin: 0 auto 18px auto;
  display: block;
}
#main_sidebar .content #sidebar_title {
  margin: auto;
}
#main_sidebar .content ul {
  margin: 55px 0 0 0;
  padding: 0;
}
#main_sidebar .content li {
  list-style: none;
  margin: 0 0 25px 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
#main_sidebar .content li:hover {
  margin-left: 5px;
}
#main_sidebar .content li.active:hover {
  margin-left: unset;
}
#main_sidebar .content li.active object {
  filter: grayscale(0);
}
#main_sidebar .content li object {
  filter: grayscale(1);
  height: 25px;
  margin-right: 20px;
  display: inline-block;
  width: 25px;
}
#main_sidebar .content li a {
  font-weight: 500;
  display: inline-block;
  position: relative;
  top: -7px;
  color: #3A3A3A;
}
#main_sidebar #logout {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
}
#billing .parent,
#support .parent {
  margin-bottom: 25px;
}
#billing .parent:last-of-type,
#support .parent:last-of-type {
  margin-bottom: 0;
}
#billing .btn,
#support .btn {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}
#billing .btn:after,
#support .btn:after {
  display: none;
}
#billing .content,
#support .content {
  width: calc(100% - 80px);
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
#billing .content h4,
#support .content h4 {
  margin-bottom: 3px;
}
#billing object,
#support object {
  filter: brightness(0) invert(1);
  height: 29px;
  width: 32px;
  margin-bottom: -3px;
}
#service_overview .parent {
  margin-bottom: 25px;
}
#service_overview .parent:last-of-type {
  margin-bottom: 0;
}
#service_overview .btn {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}
#service_overview .btn:after {
  display: none;
}
#service_overview .content {
  width: calc(100% - 80px);
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
#service_overview .content h4 {
  margin-bottom: 3px;
}
#service_overview object {
  filter: brightness(0) invert(1);
  height: 29px;
  width: 32px;
  margin-bottom: -3px;
}
#user_settings {
  position: absolute;
  top: 75px;
  right: 75px;
}
#user_settings .con {
  margin: 0 2px;
}
#user_settings .row {
  margin: 15px -2px;
}
#user_settings #notification {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}
#user_settings #notification p:last-of-type {
  margin-bottom: 0;
}
#user_settings #notification:after {
  border-radius: 100px;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 13px;
  position: absolute;
  display: block;
  opacity: 1;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 9px;
  background: white;
  content: '';
  background: linear-gradient(to right, #FFC182, #FF82A0);
}
#user_settings img {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}
#user_settings img#profile_image {
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}
#user_settings #notifications {
  right: 35px;
}
#user_settings #notifications i {
  color: #3A3A3A;
  font-size: 22px;
  opacity: .5;
}
#user_settings #user_panel {
  right: -15px;
}
#user_settings .user_panel_dropdown {
  position: absolute;
  top: 70px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  z-index: -5;
  opacity: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
#user_settings .user_panel_dropdown.small {
  width: 200px;
}
#user_settings .user_panel_dropdown.medium {
  width: 400px;
}
#user_settings .user_panel_dropdown.large {
  width: 600px;
}
#user_settings .user_panel_dropdown.visible {
  top: 60px;
  z-index: 3;
  opacity: 1;
}
#user_settings .user_panel_dropdown i {
  margin-right: 5px;
}
#user_settings .user_panel_dropdown:before {
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background: white;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: -8px;
  right: 22px;
  content: '';
}
#service_management #status_bubble {
  height: 33px;
  width: 33px;
  border-radius: 100px;
}
#service_management #status_bubble.online {
  background: #7BED9F;
  box-shadow: 0 3px 10px rgba(123, 237, 159, 0.6);
}
#filemanager .fa {
  color: #60A7FC;
}
#filemanager .fa-times {
  color: #ff4a52 !important;
}
#filemanager .fa-pencil-alt {
  color: #555555 !important;
}
#filemanager table {
  width: 100%;
}
#filemanager table th {
  text-align: left;
}
#filemanager table th h5 {
  display: block;
}
#filemanager table th:last-of-type {
  text-align: right !important;
}
#filemanager table p {
  display: inline;
}
#filemanager table .fa-fw {
  display: inline;
  margin-right: 5px;
}
#filemanager table td:last-of-type {
  text-align: right;
}
#filemanager .fas {
  color: #3A3A3A;
  margin: 0 2px;
  cursor: pointer;
}
#filemanager .fas:last-of-type {
  margin-right: 0;
}
#console input {
  margin-top: 15px;
  display: block;
}
#console_window {
  position: relative;
  max-height: 360px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ededed;
  border: 1px #ddd solid;
  padding: 15px;
}
#console_window #preloader_console {
  width: 100%;
  background: white;
  height: 100%;
  z-index: -5;
  opacity: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: absolute;
  top: 0;
  left: 0;
}
#console_window #preloader_console.visible {
  z-index: 10;
  opacity: 1;
}
#console_window #preloader_console img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#console_window span {
  display: block;
  font-family: "Courier New", sans-serif;
  font-size: 13px;
  color: #3A3A3A;
}
#add_user {
  cursor: pointer;
  display: inline-block;
}
#add_user:before {
  display: inline;
  content: '\f067';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 15px;
}
#user_list {
  margin-top: 18px;
}
#user_list table {
  width: 100%;
}
#user_list table th {
  text-align: left;
}
#user_list table th:last-of-type {
  text-align: right !important;
}
#user_list table td {
  padding-bottom: 15px;
}
#user_list table td:last-of-type {
  text-align: right;
}
#user_list img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}
#ticket_list .btn {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}
#ticket_list .btn:after {
  display: none;
}
#ticket_list .content {
  width: calc(100% - 80px);
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
#ticket_list .content h4 {
  margin-bottom: 3px;
}
#ticket_list object {
  filter: brightness(0) invert(1);
  height: 29px;
  width: 32px;
  margin-bottom: -3px;
}
#ticket_self .parent {
  margin-bottom: 45px;
}
#ticket_self .parent:last-of-type {
  margin-bottom: 0;
}
#ticket_self .content {
  width: calc(100% - 80px);
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
#ticket_self .content h4 {
  margin-bottom: 3px;
}
#ticket_self img {
  height: 39px;
  width: 39px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  vertical-align: top;
}
#profile #profile_img {
  height: 128px;
  width: 128px;
  border-radius: 100px;
  margin: auto;
  display: block;
}
#profile h6 {
  background: #60A7FC;
  padding: 5px 10px;
  display: inline-block;
  box-shadow: 0 3px 10px rgba(96, 167, 252, 0.6);
  border-radius: 5px;
}
#profile table {
  width: 100%;
  margin: 25px 0;
}
#profile table td {
  color: #94999d;
  font-size: 14px;
  padding: 5px 0;
}
#profile table td:last-of-type {
  text-align: right;
}
#todo_list table {
  width: 100%;
  margin: 25px 0;
}
#todo_list table th {
  text-align: left;
  font-size: 14px;
  color: #3A3A3A;
  opacity: .7;
}
#todo_list table th:last-of-type {
  text-align: right;
}
#todo_list table td {
  color: #94999d;
  font-size: 14px;
  padding: 5px 0;
}
#todo_list table td .far {
  cursor: pointer;
}
#todo_list table td .fa-check-circle {
  color: #60A7FC;
}
#todo_list table td:last-of-type {
  text-align: right;
}
#add_article {
  cursor: pointer;
  display: inline-block;
}
#add_article:before {
  display: inline;
  content: '\f067';
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  margin-right: 15px;
}
#article_list .parent,
#article .parent {
  margin-bottom: 25px;
}
#article_list .parent:last-of-type,
#article .parent:last-of-type {
  margin-bottom: 0;
}
#article_list .btn,
#article .btn {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
#article_list .btn:after,
#article .btn:after {
  display: none;
}
#article_list .content,
#article .content {
  width: calc(100% - 80px);
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
#article_list .content h4,
#article .content h4 {
  margin-bottom: 3px;
}
#article_list object,
#article object {
  filter: brightness(0) invert(1);
  height: 29px;
  width: 32px;
  margin-bottom: -3px;
}
#article .fas {
  margin: 20px 8px 0 0;
  color: white;
  background: #60A7FC;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  line-height: 32px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
}
#bills .product_information i {
  margin-right: 5px;
}
#bills .product_information p {
  margin: 8px 0 0 0;
}
#bills .btn {
  margin-top: 25px;
}
#signin.modal {
  background: transparent;
}
#signin .content.small {
  width: 360px;
}
#signin .content.small input {
  padding-left: 25px;
}
#signin .content.small button {
  display: inline-block;
}
#signin .content.small .fas {
  opacity: .2;
  position: absolute;
  margin-top: 32px;
  left: 40px;
}
#signin p.small {
  margin: 12px 0 -8px 0;
  opacity: 1;
  font-size: 11px;
  color: #bababa;
}
#signin p.small a {
  color: #60A7FC;
}
#signup.modal {
  background: transparent;
}
#signup .content input {
  padding-left: 25px;
}
#signup .content button {
  display: inline-block;
}
#signup .content .fas {
  opacity: .2;
  position: absolute;
  margin-top: 32px;
  left: 0;
}
#signup .con {
  position: relative;
}
/*# sourceMappingURL=all.css.map */