<h2>Benutzer hinzufügen</h2>
<h5 class="dimmed">Erstellen eines neuen Benutzers.</h5>

<form>
    <div class="flex">
        <div class="row">
            <div class="con con1">
                <label for="first_name">Vorname</label>
                <input type="text" id="first_name" placeholder="Max">
                <span></span>
            </div>
            <div class="con con1">
                <label for="last_name">Nachame</label>
                <input type="text" id="last_name" placeholder="Musterman">
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="con con7">
                <label for="city">Ort</label>
                <input type="text" id="city" placeholder="Musterhausen">
                <span></span>
            </div>
            <div class="con con7">
                <label for="street">Straße</label>
                <input type="text" id="street" placeholder="Musterstraße">
                <span></span>
            </div>
            <div class="con con1">
                <label for="nr">Hausnummer</label>
                <input type="text" id="nr" placeholder="1">
                <span></span>
            </div>
        </div>

        <br>
        <h4>Accountinformationen</h4>
        <h5 class="dimmed">Informationen, mit denen sich der Benutzer anmelden kann.</h5>

        <div class="row">
            <div class="con con1">
                <label for="username">Nutzername</label>
                <input type="text" id="username" placeholder="Max Musterman">
                <span></span>
            </div>
            <div class="con con1">
                <label for="email">Nutzername</label>
                <input type="email" id="email" placeholder="max@musterman.de">
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="con con1">
                <label for="password1">Passwort</label>
                <input type="password" id="password1" placeholder="Passwort">
                <span></span>
            </div>
            <div class="con con1">
                <label for="password2">Passwort wiederholen</label>
                <input type="password" id="password2" placeholder="Password wiederholen">
                <span></span>
            </div>
        </div>
    </div>

    <br>

    <button class="btn blue small">Erstellen</button>
</form>