<h1>Wissensdatenbank</h1>
<h5 class="dimmed">Erstellen und lesen von bestehenden Hilfs-Artikeln.</h5>
<p id="add_article" class="modal_opener" target="create_article">Neuen Eintrag anlegen</p>

<div id="article_list">
    <div class="subheading child">
        <h3>Dedizierte Server & VPS</h3>
        <h5 class="dimmed">Einträge zu dedizierten Server und & VPS</h5>
    </div>
    <div class="flex">
        <div class="row">
            <div class="con con1">
                <div class="parent">
                    <a class="btn blue" href="article.shtml">
                        <object data="./assets/images/line_icons/server.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <h4>Einen Server korrekt absichern.</h4>
                        <p class="bold">Tutorial zum Absichern einen Servers.</p>
                    </div>
                </div>
            </div>
            <div class="con con1">
                <div class="parent">
                    <a class="btn blue" href="article.shtml">
                        <object data="./assets/images/line_icons/server.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <h4>Neuinstallieren eines Servers.</h4>
                        <p class="bold">Tutorial zum Neuinstallieren eines Servers über das WI.</p>
                    </div>
                </div>
            </div>
            <div class="con con1">
                <div class="parent">
                    <a class="btn blue" href="article.shtml">
                        <object data="./assets/images/line_icons/server.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <h4>Datensicherung schnell und effizient.</h4>
                        <p class="bold">Wie führe ich eine Datensicherung durch?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="subheading child">
        <h3>Webhosting & Domains</h3>
        <h5 class="dimmed">Einträge zum Webhosting & Domains</h5>
    </div>
    <div class="flex">
        <div class="row">
            <div class="con con1">
                <div class="parent">
                    <a class="btn blue" href="article.shtml">
                        <object data="./assets/images/line_icons/globe.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <h4>Die Nameserver einer Domain ändern.</h4>
                        <p class="bold">Tutorial zum korrekten Ändern der Nameserver einer Domain.</p>
                    </div>
                </div>
            </div>
            <div class="con con1">
                <div class="parent">
                    <a class="btn blue" href="article.shtml">
                        <object data="./assets/images/line_icons/cloud-computing.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <h4>Anlegen von (s)FTP-Zugängen bei Webspaces.</h4>
                        <p class="bold">Wie lege ich (s)FTP-Zugänge korrekt an?</p>
                    </div>
                </div>
            </div>
            <div class="con con1">
            </div>
        </div>
    </div>

    <div class="subheading child">
        <h3>Abrechnung</h3>
        <h5 class="dimmed">Einträge zur Abrechnung</h5>
    </div>
    <div class="flex">
        <div class="row">
            <div class="con con1">
                <div class="parent">
                    <a class="btn blue" href="article.shtml">
                        <object data="./assets/images/line_icons/budget.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <h4>Wie füge ich eine Zahlungsmethode hinzu?</h4>
                        <p class="bold">Tutorial zum Hinzufügen von PayPal, Bankeinzug oder einer Kreditkarte.</p>
                    </div>
                </div>
            </div>
            <div class="con con1">
                <div class="parent">
                    <a class="btn blue" href="article.shtml">
                        <object data="./assets/images/line_icons/budget.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <h4>Bezahlen einer Rechnung</h4>
                        <p class="bold">Bezahlen einer Rechnung mit hinterlegten Zahlungsmethoden.</p>
                    </div>
                </div>
            </div>
            <div class="con con1">
                <div class="parent">
                    <a class="btn blue" href="article.shtml">
                        <object data="./assets/images/line_icons/communication.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <h4>Mein Bankeinzug schlägt fehl. Warum?</h4>
                        <p class="bold">Möglich Gründe für das Fehlschlagen des Bankeinzugs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>