<h1>Rechnungsübersicht</h1>
<h5 class="dimmed">Einsicht und Zahlung von Rechnungen.</h5>

<br>

<div id="bills">
    <div class="flex">
        <div class="row">
            <div class="con con1">
                <h3>vServer XL - 9,81€</h3>
                <p class="bold">Für den Verwendungszeitraum vom 25.05.2018 fallen 9,81€ an.</p>
                <div class="product_information">
                    <p class="bold"><i class="fas fa-server fa-fw"></i>vServer XL</p>
                    <p class="bold"><i class="fas fa-credit-card fa-fw"></i>9,81€ zu zahlen</p>
                    <p class="bold"><i class="fas fa-calendar fa-fw"></i>Zu zahlen bis: 25.06.2018</p>
                </div>
                <a class="small btn blue">Jetzt bezahlen</a>
            </div>
            <div class="con con1">
                <h3>Webspace L - 4,73€</h3>
                <p class="bold">Für den Verwendungszeitraum vom 25.04.2018 fallen 4,37€ an.</p>
                <div class="product_information">
                    <p class="bold"><i class="fas fa-server fa-fw"></i>Webspace L</p>
                    <p class="bold"><i class="fas fa-credit-card fa-fw"></i>4,37€ zu zahlen</p>
                    <p class="bold"><i class="fas fa-calendar fa-fw"></i>Zu zahlen bis: 25.05.2018</p>
                    <p class="bold"><i class="fas fa-plus"></i>Zusätzlich: 1x .de-Domain für 0,00€</p>
                    <p class="bold"><i class="fas fa-plus"></i>Zusätzlich: 1x 5GB Backup-Speicher</p>
                </div>
                <a class="small btn red">Jetzt bezahlen</a>
            </div>
            <div class="con con1">
            </div>
        </div>
    </div>
</div>