<div id="filemanager">
    <div class="subheading child">
        <h3>Dateimanager</h3>
        <h5 class="dimmed">Verwaltung einzelner Ordner und Dateien.</h5>
    </div>

    <div id="filelist">
        <table>
            <tr id="fm_header">
                <th>
                    <h5>Objekttyp</h5>
                </th>
                <th >
                    <h5>Dateiname</h5>
                </th>
                <th>
                    <h5>Dateigröße</h5>
                </th>
                <th>
                    <h5>Zuletzt geändert</h5>
                </th>
                <th>
                    <h5>Atkion</h5>
                </th>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-file fa-fw"></i>
                    <p>Datei</p>
                </td>
                <td>
                    <p>initrd.img</p>
                </td>
                <td>
                    <p>33 Bytes</p>
                </td>
                <td>
                    <p>19.05.2018, 15:49</p>
                </td>
                <td class="con con3 vert_middle align_right">
                    <i class="fas fa-times modal_opener" target="delete_object"></i>
                    <i class="fas fa-pencil-alt modal_opener" target="edit_object"></i>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal" trigger="delete_object">
        <div class="content">
            <i class="fas fa-times modal_closer"></i>
            <h3>Datei oder Ordner löschen.</h3>
            <p class="margin bottom px15">Willst du diese Aktion wirklich ausführen?</p>
            <a class="btn red small">Ja, löschen</a>
            <a class="btn blue small hard_closer">Abbrechen</a>
        </div>
    </div>

    <div class="modal" trigger="edit_object">
        <div class="content">
            <i class="fas fa-times modal_closer"></i>
            <h3>Datei oder Ordner bearbeiten.</h3>
            <p class="margin bottom px15">Ändern bestimmter Eigenschaften.</p>
            <form>
                <input type="text" placeholder="Name ändern">
                <span class="margin bottom px15"></span>
            </form>
            <a class="btn blue small">Übernehmen</a>
        </div>
    </div>
</div>