<h1>Dein Profil</h1>
<h5 class="dimmed">Sehe deine Informationen ein und ändere Voreinstellungen.</h5>

<br><br>

<div class="flex" id="profile_main">
    <div class="row">
        <div class="con con2">
            <div id="profile">
                <img src="./assets/images/default_avatar.svg" alt="" id="profile_img">

                <br>

                <center>
                    <h2>Marcel Reif</h2>
                    <h6 class="white">Administrator</h6>
                </center>
                <table>
                    <tr>
                        <td>Geburtsdatum</td>
                        <td>06.12.2001</td>
                    </tr>
                    <tr>
                        <td>Hobbies</td>
                        <td>Webdesignen, Mountainbiking</td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td>Brand 1, 91729 Haundorf</td>
                    </tr>
                    <tr>
                        <td>E-Mailadresse</td>
                        <td>reif.marcel@msr-webdesign.de</td>
                    </tr>
                    <tr>
                        <td>Telefonnummer</td>
                        <td>+4917646154894</td>
                    </tr>
                </table>

                <a class="btn blue extrasmall">Profil bearbeiten</a>
            </div>
        </div>
        <div class="con con3">
            <div id="todo_list">
                <div class="subheading">
                    <h3>Persönliche ToDo-Liste</h3>
                    <h5 class="dimmed">Festlegen von zu erledigenden Aufgaben.</h5>
                </div>
                <div id="todo_list_table">
                    <table>
                        <tr>
                            <th>Aufgabe</th>
                            <th>Für</th>
                            <th>Erstellt am</th>
                            <th>Deadline</th>
                            <th>Erledigt?</th>
                        </tr>
                        <tr>
                            <td>Server neuinstallieren</td>
                            <td>Marcel Reif</td>
                            <td>24.05.2018</td>
                            <td>Bis 30.05.2018</td>
                            <td><i class="far fa-circle"></i></td>
                        </tr>
                        <tr>
                            <td>Neue Gameserver aufsetzen</td>
                            <td>Marcel Reif</td>
                            <td>24.05.2018</td>
                            <td>Bis 30.05.2018</td>
                            <td><i class="far fa-circle"></i></td>
                        </tr>
                        <tr>
                            <td>Backups erstellen</td>
                            <td>Marcel Reif</td>
                            <td>24.05.2018</td>
                            <td>Bis 30.05.2018</td>
                            <td><i class="far fa-circle"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>