<h1>Dienstverwaltung</h1>
<h5 class="dimmed">Verwaltung und Konfiguration einzelner Dienste.</h5>

<br>
<div id="service_management">
    <div class="flex">
        <div class="row">
            <div class="con conSmall vert_middle">
                <div id="status_bubble" class="online"></div>
            </div>
            <div class="con con3">
                <h3>vServer XL Ubuntu 16.04</h3>
                <p class="child">9,81€, verlängert bis 11.06.2018</p>
            </div>
            <div class="con con2">
                <h3>ubuntu16_04-host</h3>
                <p class="child">Hostname</p>
            </div>
            <div class="con con2">
                <h3>8 GB DDR4</h3>
                <p class="child">RAM</p>
            </div>
            <div class="con con2">
                <h3>1,2 TB</h3>
                <p class="child">Solid State Drive</p>
            </div>
            <div class="con con2">
                <h3>8 vCores</h3>
                <p class="child">Virtuelle Kerne</p>
            </div>
            <div class="con con2">
                <h3>1 GBit/s</h3>
                <p class="child">Netzwerk-Anbindung</p>
            </div>
        </div>
    </div>

    <br><br>

    <div id="service_actions">
        <a class="btn blue">Konsole öffnen</a>
        <a class="btn blue">Statistiken</a>
        <a class="btn red">Stoppen</a>
        <a class="btn green">Starten</a>
        <a class="btn yellow">Neuinstallieren</a>
        <a class="btn red">Löschen / Kündigen</a>
    </div>
</div>