<h2>Konsole</h2>
<h5 class="dimmed">Senden von Befehlen und empfangen derer Ausgabe.</h5>

<div id="console_window">
    <div id="preloader_console" class="visible">
        <img src="./assets/images/loader.gif" alt="">
    </div>
    <span>Welcome to Ubuntu 16.04.4 LTS (GNU/Linux 4.4.0-116-generic x86_64)</span>
    <span>* Documentation:  https://help.ubuntu.com</span>
    <span>* Management:  https://landscape.canonical.com</span>
    <span>* Support:  https://ubuntu.com/advantage</span>
    <span><br></span>
    <span>43 packages can be updated.</span>
    <span>25 updates are security updates.</span>
    <span><br></span>
    <span><br></span>
    <span>*** System restart required ***</span>
    <span>Last login: Mon May 14 16:28:01 2018 from 127.0.0.1</span>
    <span>mreif@cx11-05:~$</span>
</div>

<form>
    <input type="text" placeholder="Befehl eingeben">
    <span></span>
</form>