<h1>Einstellung</h1>
<h5 class="dimmed">Vornehmen benutzerspezifischer Einstellungen.</h5>

<br>

<div id="settings">
    <form>
        <div class="flex">
            <div class="row">
                <div class="con con1">
                    <div class="subheading">
                        <h3>Einfache Input-Box</h3>
                        <h5 class="dimmed">Text, der diese Einstellung weiter beschreiben soll.</h5>
                    </div>
                    <input type="text" placeholder="Beschreibung">
                    <span></span>

                    <div class="subheading child">
                        <h3>Einstellungs-Slider (An oder Aus)</h3>
                        <h5 class="dimmed">Text, der diese Einstellung weiter beschreiben soll.</h5>
                    </div>
                    <input type="checkbox" id="slider">
                    <label class="slider with_text" for="slider"><p>An-Aus Slider</p></label>

                    <div class="subheading child">
                        <h3>Selektions-Menu</h3>
                        <h5 class="dimmed">Text, der diese Einstellung weiter beschreiben soll.</h5>
                    </div>
                    <label for="selector">Selektor</label>
                    <select id="selector">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                    <span></span>

                    <div class="subheading child">
                        <h3>Textbereich</h3>
                        <h5 class="dimmed">Text, der diese Einstellung weiter beschreiben soll.</h5>
                    </div>
                    <textarea placeholder="Textbereich"></textarea>
                    <span></span>
                </div>
                <div class="con con1">
                    <div class="subheading">
                        <h3>Radio-Buttons</h3>
                        <h5 class="dimmed">Text, der diese Einstellung weiter beschreiben soll.</h5>
                    </div>
                    <input type="radio" id="radio1" name="radiogroup">
                    <label for="radio1" class="radio">Radiobutton 1</label>
                    <input type="radio" id="radio2" name="radiogroup">
                    <label for="radio2" class="radio">Radiobutton 2</label>
                </div>
                <div class="con con1">

                </div>
            </div>
        </div>
    </form>
</div>