<h1>Supportanfragen</h1>
<h5 class="dimmed margin bottom px15">Einsehen und Erstellen von Supportanfragen</h5>
<p id="add_user" class="modal_opener" target="create_ticket">Neues Ticket anlegen</p>

<br><br>

<div id="ticket_list">
    <div class="flex">
        <div class="row">
            <div class="con con1">
                <div class="parent">
                    <a class="btn yellow action important" href="ticket.html">
                        <object data="./assets/images/line_icons/communication.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <a href="ticket.html"><h4>Paketlisten konnten nicht korrekt abgerufen werden.</h4></a>
                        <h5 class="dimmed">Letzte Antwort von Marcel Reif, 01:04 Uhr</h5>
                    </div>
                </div>
            </div>
            <div class="con con1">
                <div class="parent">
                    <a class="btn blue action done" href="ticket.html">
                        <object data="./assets/images/line_icons/communication.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <a href="ticket.html"><h4>Paketlisten konnten nicht korrekt abgerufen werden.</h4></a>
                        <h5 class="dimmed">Letzte Antwort von Christoph Krachten, 21:19 Uhr</h5>
                    </div>
                </div>
            </div>
            <div class="con con1">
                <div class="parent">
                    <a class="btn blue action done" href="ticket.html">
                        <object data="./assets/images/line_icons/communication.svg" type="image/svg+xml"></object>
                    </a>
                    <div class="content">
                        <a href="ticket.html"><h4>Paketlisten konnten nicht korrekt abgerufen werden.</h4></a>
                        <h5 class="dimmed">Letzte Antwort von Christoph Krachten, 22:24 Uhr</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>