<h1>Ticket einsehen</h1>
<h5 class="dimmed">Ticketname: Paketlisten konnten nicht korrekt abgerufen werden.</h5>

<br>
<div id="ticket_self">
    <div class="parent">
        <img src="./assets/images/default_avatar.svg" alt="">
        <div class="content">
            <h4>Paketlisten konnten nicht korrekt abgerufen werden.</h4>
            <p class="bold">Marcel Reif, 22.05.2018 um 15:19 Uhr</p>
            <p class="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="parent">
        <img src="./assets/images/sample_pic.jpg" alt="">
        <div class="content">
            <h4>Paketlisten konnten nicht korrekt abgerufen werden.</h4>
            <p class="bold">Christina Krachten, 21.05.2018 um 21:43 Uhr</p>
            <p class="small">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="parent">
        <img src="./assets/images/default_avatar.svg" alt="">
        <div class="content">
            <h4>Paketlisten konnten nicht korrekt abgerufen werden.</h4>
            <p class="bold">Marcel Reif, 22.05.2018 um 15:19 Uhr</p>
            <p class="small">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <br>

    <a class="btn blue small modal_opener" target="answer_ticket">Antworten</a>
</div>