<h1>Benutzerverwaltung</h1>
<h5 class="dimmed margin bottom px15">Anlegen und löschen von Nutzeraccounts.</h5>
<p id="add_user" class="modal_opener" target="add_user">Benutzeraccount anlegen</p>

<br>

<div id="user_list">
    <table>
        <tr id="userlist_head">
            <th></th>
            <th>
                <h5>Benutzername</h5>
            </th>
            <th>
                <h5>Registriert am</h5>
            </th>
            <th>
                <h5>Zuletzt online am</h5>
            </th>
            <th>
                <h5>Aktive Dienstleistungen</h5>
            </th>
            <th>
                <h5>Aktion</h5>
            </th>
        </tr>
        <tr>
            <td>
                <img src="./assets/images/default_avatar.svg" alt="">
            </td>
            <td>
                <p>Marcel Reif</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>8 Dienste in Nutzung</p>
            </td>
            <td>
                <div class="btn blue small modal_opener" target="edit_user">Bearbeiten</div>
                <div class="btn red small modal_opener" target="delete_user">Löschen</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="./assets/images/default_avatar.svg" alt="">
            </td>
            <td>
                <p>Marcel Reif</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>8 Dienste in Nutzung</p>
            </td>
            <td>
                <div class="btn blue small modal_opener" target="edit_user">Bearbeiten</div>
                <div class="btn red small modal_opener" target="delete_user">Löschen</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="./assets/images/default_avatar.svg" alt="">
            </td>
            <td>
                <p>Marcel Reif</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>8 Dienste in Nutzung</p>
            </td>
            <td>
                <div class="btn blue small modal_opener" target="edit_user">Bearbeiten</div>
                <div class="btn red small modal_opener" target="delete_user">Löschen</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="./assets/images/default_avatar.svg" alt="">
            </td>
            <td>
                <p>Marcel Reif</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>8 Dienste in Nutzung</p>
            </td>
            <td>
                <div class="btn blue small modal_opener" target="edit_user">Bearbeiten</div>
                <div class="btn red small modal_opener" target="delete_user">Löschen</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="./assets/images/default_avatar.svg" alt="">
            </td>
            <td>
                <p>Marcel Reif</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>8 Dienste in Nutzung</p>
            </td>
            <td>
                <div class="btn blue small modal_opener" target="edit_user">Bearbeiten</div>
                <div class="btn red small modal_opener" target="delete_user">Löschen</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="./assets/images/default_avatar.svg" alt="">
            </td>
            <td>
                <p>Marcel Reif</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>8 Dienste in Nutzung</p>
            </td>
            <td>
                <div class="btn blue small modal_opener" target="edit_user">Bearbeiten</div>
                <div class="btn red small modal_opener" target="delete_user">Löschen</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="./assets/images/default_avatar.svg" alt="">
            </td>
            <td>
                <p>Marcel Reif</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>8 Dienste in Nutzung</p>
            </td>
            <td>
                <div class="btn blue small modal_opener" target="edit_user">Bearbeiten</div>
                <div class="btn red small modal_opener" target="delete_user">Löschen</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="./assets/images/default_avatar.svg" alt="">
            </td>
            <td>
                <p>Marcel Reif</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>21.05.2018, 18:58</p>
            </td>
            <td>
                <p>8 Dienste in Nutzung</p>
            </td>
            <td>
                <div class="btn blue small modal_opener" target="edit_user">Bearbeiten</div>
                <div class="btn red small modal_opener" target="delete_user">Löschen</div>
            </td>
        </tr>
    </table>
</div>