<div class="html_editor">
    <div class="top_bar">
        <object data="./assets/images/line_icons/bold-text.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/italics.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/undelined.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/strike-through.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/color.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/brush.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/add-picture.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/add-file.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/link.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/bullets.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/quotes.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/undo.svg" type="image/svg+xml"></object>
        <object data="./assets/images/line_icons/redo.svg" type="image/svg+xml"></object>
    </div>
    <form>
        <textarea placeholder="Deine Antwort..."></textarea>
        <button class="btn blue small">Erstellen</button>
    </form>
</div>